/*01. FONTES*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');

/*02. CORES*/
:root{
    --primary-color: #FF9933 ;
    --hover-primary-color: #CC6600;
    --error-color: #F00;
    --sucess-color: #16a085;
    --light-gray: #F9F9F9;
    --medium-gray: #CCCCCC;
    --dark-gray: #707070;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    background-color: var(--light-gray);
    font-family: Roboto;
    color: var(--dark-gray);
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1{
    font-weight: 900;
    font-size: 40px;
    margin: 5px 0;
}

p{
    font-weight: 400;
    font-size: 17px;
}

main{
    display: flex;
    flex-direction: column;
    padding:25px;
    width: 80%;
}

input[type=text], input[type=password] {
    display: flex;
    max-width: 400px;
    height: 40px;
    padding: 5px 15px;
    margin-top: 5px;
    font-family: Roboto;
    font-weight: 400;
    border: 1px solid var(--medium-gray);
}

input::placeholder{
    color: var(--medium-gray);
}

button.form-btn{
    display: flex;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 15px;
    margin-top: 5px;
    color: #FFF;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;

    transition: all .2s ease;
}

button.form-btn:hover{
    background-color: var(--hover-primary-color);

    transition: all .2s ease;
    padding: 10px 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #F0F0F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}

.form-box{
    display: flex;
    flex-direction: column;
}

.form-login .form-btn{
    display: flex;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 15px;
    margin-top: 5px;
    color: #FFF;
    background-color: var(--primary-color);
    border: none;
}

.error-message{
    color: var(--error-color);
    font-size: 12px;
}

.success-message{
    color: var(--sucess-color);
    font-size: 12px;
}

.visible{ display: flex !important; }
.hidden{ display: none !important; }

/*Responvise*/
@media screen and (max-width:1200px){
    body{
        padding: 20px;
    }
    
    .container{
        width: 100%;
        margin-top: 0px;
    }
}

@media screen and (max-width:750px){
    aside{
        width: 100%;
        align-items: center;
    }

    aside nav{
        flex-direction: column;
    }

    main{
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width:360px){
    body{
        padding: 0px;
    }

    .container{
        padding: 0;
    }
}

